.header {
    padding: 1rem 0 3rem;
}

.title {
    color: #000000;
    font-size: 3rem;
    text-decoration: none;
}
.navList {
    display: flex;
    list-style-type: none;
    margin: 0;
}
.navItem {
    color: rgb(163, 162, 162);
    font-size: .9rem;
    margin-right: 1.3rem; 
    text-decoration: none;
}
.navItem:hover {
    color: #666666;
}
.activenavItem {
    color: #333333;
}